<MatThemeProvider Theme="MainTheme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <MatPortalHost />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MinimalLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</MatThemeProvider>

@code
{
    MatTheme MainTheme = new MatTheme()
        {
            Primary = MatThemeColors.Indigo._500.Value,
            Secondary = MatThemeColors.Blue._500.Value
        };
}
