<div class="footer-container" style="display: flex; justify-content: center; padding: 32px;">
    Developed & Designed by&nbsp;<p style="margin: 0; color: var(--mdc-theme-secondary); cursor: pointer;">Reinaldo A.
        Jr</p>.
</div>

@code
{

}