@page "/getstarted"
@layout MinimalLayout
@using Components

<PageTitle>Get Started</PageTitle>

<div class="register-container"
    style="display: flex; flex-direction: column; justify-content: space-between; min-height: 100% ">
    <StepsContainer />
    <Footer />
</div>

@code {

}